<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-searchbar [(ngModel)]="myInput" placeholder="回答问题赢取双倍小鱼干">

                    </ion-searchbar>
                </ion-col>
                <ion-col col-2>
                    <button ion-button clear block color="dark"><ion-icon name="create"></ion-icon> 提问</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-segment [(ngModel)]="order" color="dark">
                    <ion-segment-button value="关注">关注</ion-segment-button>
                    <ion-segment-button value="推荐">推荐</ion-segment-button>
                    <ion-segment-button value="热榜">热榜</ion-segment-button>
                    <ion-segment-button value="视频">视频</ion-segment-button>
                </ion-segment>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="order">
        <ion-list *ngSwitchCase="'关注'">
            <ion-card>
                <ion-list>
                    <ion-item (click)="open_Interest_User()">发现更多感兴趣的人
                        <ion-icon item-right name="body"></ion-icon>
                        <ion-icon item-right name="arrow-forward"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card>
            <ion-card *ngFor="let article of articles" (click)=" itemClick($event,item)">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="{{article.avatar}}">
                    </ion-avatar>
                    <ion-row>
                        <ion-col col-8>
                            <p>{{article.username}}</p>
                        </ion-col>
                        <ion-col col-4>
                            <p>{{article.updatetime}}</p>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-end>
                        <img src="{{article.picture}}">
                    </ion-thumbnail>
                    <p>{{article.title}}</p>
                    <p>{{article.things}}</p>
                </ion-item>
            </ion-card>
        </ion-list>


        <ion-list *ngSwitchCase="'推荐'" (click)=" itemClick($event,item)">
            <ion-card *ngFor="let recommand of recommands">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="{{recommand.avatar}}">
                    </ion-avatar>
                    <ion-row>
                        <ion-col col-8>
                            <p>{{recommand.username}}</p>
                        </ion-col>
                        <ion-col col-4>
                            <p>{{recommand.updatetime}}</p>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-end>
                        <img src="{{recommand.picture}}">
                    </ion-thumbnail>
                    <p>{{recommand.title}}</p>
                    <p>{{recommand.things}}</p>
                </ion-item>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'热榜'" (click)=" itemClick($event,item)">
            <ion-card *ngFor="let hot of hots">
                <ion-item>
                    <p item-start color="secondary">01</p>
                    <ion-thumbnail item-end>
                        <img src="{{hot.picture}}">
                    </ion-thumbnail>
                    <p>{{hot.title}}</p>
                    <p>{{hot.hotnum}}点热度</p>
                </ion-item>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'视频'" (click)=" itemClick($event,item)">
            <ion-card *ngFor="let video of videos">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="{{video.avatar}}">
                    </ion-avatar>
                    <ion-row>
                        <ion-col col-8>
                            <p>{{video.username}}</p>
                        </ion-col>
                        <ion-col col-4>
                            <p>{{video.updatetime}}</p>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-end>
                        <img src="{{video.picture}}">
                    </ion-thumbnail>
                    <p>{{video.title}}</p>
                    <p>{{video.things}}</p>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>
</ion-content>